body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  padding-top: 35px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

form a {
  margin-left: 5px;
}

p {
  text-align: left;
}

nav {
  height: 44px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

nav div {
  display: inline-block;
  margin-left: 15px;
}

.first-link {
  position: absolute;
  bottom: 3px;
  right: 120px;
}

.second-link {
  position: absolute;
  bottom: 3px;
  right: 2px;
}

.logo {
  font-family: 'Pacifico', cursive;
  position: absolute;
  bottom: 3px;
  left: 0;
  font-size: 28px;
  color: #0275D8;
}
